<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIAppFonts</key>
	<array>
		<string>ClanProForUBER-Book.otf</string>
		<string>ClanProForUBER-Book.ttf</string>
		<string>ClanProForUBER-BookNarrow.otf</string>
		<string>ClanProForUBER-BookNarrow.ttf</string>
		<string>ClanProForUBER-Medium.otf</string>
		<string>ClanProForUBER-Medium.ttf</string>
		<string>ClanProForUBER-MediumNarrow.otf</string>
		<string>ClanProForUBER-MediumNarrow.ttf</string>
		<string>ClanProForUBER-News.otf</string>
		<string>ClanProForUBER-News.ttf</string>
		<string>ClanProForUBER-NewsNarrow.otf</string>
		<string>ClanProForUBER-NewsNarrow.ttf</string>
		<string>ClanProForUBER-Thin.otf</string>
		<string>ClanProForUBER-Thin.ttf</string>
		<string>ClanProForUBER-ThinNarrow.otf</string>
		<string>ClanProForUBER-ThinNarrow.ttf</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
